<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aws-messaging="http://www.springframework.org/schema/cloud/aws/messaging"
       xmlns:aws-context="http://www.springframework.org/schema/cloud/aws/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/cloud/aws/messaging http://www.springframework.org/schema/cloud/aws/messaging/spring-cloud-aws-messaging-1.0.xsd
	   http://www.springframework.org/schema/cloud/aws/context http://www.springframework.org/schema/cloud/aws/context/spring-cloud-aws-context-1.0.xsd">

    <context:component-scan base-package="com.luzhanov.springcloud"/>

    <!--<aws-context:context-region region="eu-west-1"/>-->
    <aws-context:context-region auto-detect="true" />

    <aws-messaging:annotation-driven-queue-listener />

    <!--<aws-context:context-credentials>-->
        <!--<aws-context:instance-profile-credentials />-->
    <!--</aws-context:context-credentials>-->

    <aws-context:context-credentials>
        <aws-context:instance-profile-credentials/>
        <!--<aws-context:simple-credentials access-key="${accessKey:}" secret-key="${secretKey:}"/>-->
    </aws-context:context-credentials>

</beans>
